<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>芽渼牙醫診所-醫療團隊</title>
    <link rel="stylesheet" href="/src/css/tailwind.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/src/css/medical-team.css">
    <!-- 使用FontAwesome的CDN引入CSS文件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" />
</head>
<body>
    <%- include('public/layouts/header.ejs') %>
    
    
        <div class="news-box box-border inline-flex flex-col items-center  md:justify-around mt-[30px] xl:mt-[30px]">
            <div class="news-title md:flex flex-col  md:items-baseline text-center xl:w-[824px]  mb-8">
                <h2 class="title-font mb-2">醫療團隊</h2>
                <span class="E-font xl:mb-4">treatment team</span>
            </div>
            <div class="staff">
                <div class="pic">
                    <img class="rounded mb-6"
                      src="https://plus.unsplash.com/premium_photo-1661281397737-9b5d75b52beb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fG1lZGljYWwlMjB0ZWFtfGVufDB8MHwwfHx8MA%3D%3D">
                  </div>
                  <div class="mt-2 mb-20px text-center">
                    <h2 class="staff-intro E-font">職員介紹</h2>
                    <p class="mt-2">我們真誠服務每一位患者
                        ，提供最好的治療。</p>
                  </div>
            </div>   
        </div>   
      
      
    <h2 class="text-center mb-2 ml-5 mt-10 profession">院長</h2>
      <div class="profess-info max-w-md mx-auto  bg-primary-200 rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-10 ">
        <div class="container inline-flex box-border flex-col  md:flex-row">
          <div class="md:shrink-0 xl:h-[329px] ">
            <img class="w-full object-cover md:h-[335px] md:w-[250px]" src="https://media.istockphoto.com/id/598668462/photo/cheerful-japanese-businessman-with-digital-tablet-smiling.jpg?s=612x612&w=0&k=20&c=5375WHs9BV7Z_VLyc3XuHcgqPo56OeB7gpryvOOe3Lk=" alt="">
          </div>
          <div class="dental-info m-2 ml-5 p-4">
            <h2 class="treat-font mb-4">林文明 院長</h2>
            <div class="font-black mb-2">主治項目：</div>
            <ul class="text-gray-500">
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 齒顎矯正</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 牙周病治療 </li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 實證牙醫學 </li>
                <li class="mb-4"><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 牙科感染管制</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 中華民國家庭牙醫科專科醫師</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 國際坦福摩加大學口腔醫學博士</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 骨整合植牙醫學會專科醫師</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 曾在台大醫院任職牙科主任</li>
            </ul>
        </div>
        </div>
      </div>

      <h2 class="text-center profession mb-2 ml-5">牙醫師</h2>
      <div class="profess-info max-w-md mx-auto bg-primary-200 rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-10">
        <div class="container inline-flex box-border flex-col  md:flex-row">
          <div class="md:shrink-0 xl:h-[329px]">
            <img class="w-full object-cover md:h-[335px] md:w-[250px]" src="https://static.popdaily.com.tw/wp-content/uploads/2020/11/9przqpss8sg0wkc8ggswgo8okqjohhd.jpg" alt="Modern building architecture">
          </div>
          <div class="dental-info m-2 ml-5 p-4">
            <h2 class="treat-font mb-4">淺羽拓實 醫師</h2>
            <div class="font-black mb-2">主治項目：</div>
            <ul class="text-gray-500">
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 牙齒美白</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 牙齒矯正 </li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 兒童牙科學 </li>
                <li class="mb-4"><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 牙科感染管制</li>
                <div class="font-black mb-2 text-black">經歷：</div>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 東京醫科齒科大學</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 取得台灣牙醫學院牙醫科專科醫師資格</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 愛台北牙科診所擔任牙科醫師</li>
            </ul>
        </div>
        </div>
      </div>

      <div class="profess-info max-w-md mx-auto bg-primary-200 rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-10">
        <div class="container inline-flex box-border flex-col  md:flex-row">
          <div class="md:shrink-0 xl:h-[329px]">
            <img class="w-full object-cover md:h-[335px] md:w-[250px]" src="https://media.istockphoto.com/id/1411428110/photo/young-businessman-portrait.jpg?s=612x612&w=0&k=20&c=t4Pd4t9opr2Be1w4Zhonf75Ys2jbfKZrQbDzKnvvqeg=" alt="Modern building architecture">
          </div>
          <div class="dental-info m-2 ml-5 p-4">
            <h2 class="treat-font mb-4">吳宜龍 醫師</h2>
            <div class="font-black mb-2">主治項目：</div>
            <ul class="text-gray-500">
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 贗復牙科</li>
                <li><i class="mb-4 fa-solid fa-tooth" style="color: #66BAB7;"></i> 口腔醫學 </li>
                <div class="font-black mb-2 text-black">經歷：</div>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 國立陽明交通大學牙醫學系學士暨碩士</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 美國茲茄哥大學牙醫交流會會員</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 中華民國牙科醫學會專科醫師</li>
            </ul>    
        </div>
        </div>
      </div>

      <h2 class="text-center profession mb-2 ml-5">護理師</h2>
      <div class="profess-info max-w-md mx-auto bg-primary-200 rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-10">
        <div class="container inline-flex box-border flex-col  md:flex-row">
          <div class="md:shrink-0 xl:h-[329px]">
            <img class="w-full object-cover md:h-[335px] md:w-[250px]" src="https://media.istockphoto.com/id/1213739714/photo/beautiful-asian-woman-wearing-casual-sweater-with-hand-on-chin-thinking-about-question.jpg?s=612x612&w=0&k=20&c=UznM_8KsDchPKQenG7AtVcdmPxXJCtqLVUfOMbRImxI=" alt="Modern building architecture">
          </div>
          <div class="dental-info m-2 ml-5 p-4">
            <h2 class="treat-font mb-4">林智靈 護理師</h2>
            <div class="font-black mb-2">專長：</div>
            <ul class="text-gray-500">
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 醫護管理</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 牙科護理</li>
                <li><i class="mb-4 fa-solid fa-tooth" style="color: #66BAB7;"></i> 兒童護理學 </li>
                <div class="font-black mb-2 text-black">經歷：</div>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 國立陽明大學護理系學士及碩士</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 台北綜合醫學護理師</li>
            </ul>    
        </div>
        </div>
      </div>

      <div class="profess-info max-w-md mx-auto bg-primary-200 rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-10">
        <div class="container inline-flex box-border flex-col  md:flex-row">
          <div class="md:shrink-0 xl:h-[329px]">
            <img class="w-full object-cover md:h-[335px] md:w-[250px]" src="https://media.istockphoto.com/id/1449227125/photo/image-of-a-dentist-wearing-a-white-coat.jpg?s=612x612&w=0&k=20&c=9mR-PBxtzgCjWgvUrGfR0YKSLSEO0G5r3VffUliclBM=" alt="Modern building architecture">
          </div>
          <div class="dental-info m-2 ml-5 p-4">
            <h2 class="treat-font mb-4">曾怡潔 護理師</h2>
            <div class="font-black mb-2">專長：</div>
            <ul class="text-gray-500">
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 醫護管理</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 牙科護理</li>
                <li><i class="mb-4 fa-solid fa-tooth" style="color: #66BAB7;"></i> 兒童護理學 </li>
                <div class="font-black mb-2 text-black">經歷：</div>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 長庚護理大學學士</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 基隆大學兒童教育及心理學碩士</li>
                <li><i class="fa-solid fa-tooth" style="color: #66BAB7;"></i> 台北綜合醫學護理師</li>
            </ul>    
        </div>
        </div>
      </div>

      <!-- 聊天室按鈕 -->
      <div class="open-chat-btn w-[72px] h-[72px] fixed top-1/2 right-2 z-50" onclick="toggleChat()">  
        <button class="transition-transform transform hover:scale-110" onclick="sendMessage()">
          <img src="../../../public/images/chat-button.png" alt="">
        </button>
      </div>

      <!-- 聊天室 -->
      <div class="chatroom w-[375px] h-[660px] bg-white rounded-tl-[12px] rounded-tr-[12px] border fixed bottom-[-660px] right-[27.5px] xl:right-[75px]  shadow-primary-400 shadow-md">
        <div class="chat-head h-[56px] bg-primary-300 relative  flex items-center justify-center rounded-tl-[12px] rounded-tr-[12px] shadow-md">
          <h6 class="head-title">芽渼牙醫診所</h6>
          <button class="close-btn flex items-center justify-center absolute top-[20px] right-[20px]" onclick="toggleChat()">
            <img src="../../../public/images/Vector.png" alt="">
          </button>
        </div>
        <!-- 聊天訊息 -->
        <div class="chat-messages h-[524px] p-[16px]">

        </div>
        <!-- 輸入框 -->
        <div class="input-box w-[343px] h-[40px] border-[#E0E0E0] border-[1px] rounded-full absolute bottom-[20px] right-[16px] flex items-center justify-between px-[16px] py-[10px]">
          <input type="text" placeholder="請輸入訊息" class="enterMessage w-[288px] h-[20px]">
          <button onclick="sendMessage()"><img src="../../../public/images/search.png" alt=""></button>
        </div>
      </div>
      
      

         
      

      <%- include('public/layouts/footer.ejs') %>
            <!-- 載入header.js -->
            <script type="module" src="../../../main.js"></script>
            <script src="../../js/treatment.js"></script>
            <script src="../../js/chatroom.js"></script>
            <!-- 載入footer.js -->
            <!-- <script src="../../js/footer.js"></script> -->
            <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
                integrity="sha512-..." crossorigin="anonymous"></script>
</body>
</html>