<header id="admin-sidemenu" class="">
  <div class="mt-20 w-72 h-screen border shadow-xl bg-white fixed top-0 left-0">
   <ul class="ml-24 pt-20">
   <li class="text-primary-300 font-black">管理員</li>
   <li><a href="#" class="hover:bg-accent-100">管理員帳號</a></li>
   <li><a href="#" class="hover:bg-accent-100">會員管理</a></li>
  </ul>

  <ul class="ml-24 mt-10">
    <li class="text-primary-300">病歷管理</li>
    <li><a href="#" class="hover:bg-accent-100">病患清單</a></li>
    <li><a href="../../pages/back/medical-record.html" class="hover:bg-accent-100">病歷</a></li>
  </ul>
  <ul class="ml-24 mt-10">
    <li class="text-primary-300">預約管理</li>
    <li><a href="../../pages/back/appointment-record.html" class="hover:bg-accent-100">預約紀錄</a></li>
    <li><a href="../../pages/back/chat-record.html" class="hover:bg-accent-100">聊天室</a></li>
  </ul>

  <ul  class="ml-24 mt-10">
    <li class="text-primary-300">當日看診</li>
    <li><a href="../../pages/back/appointment-list.html" class="hover:bg-accent-100">看診清單</a></li>
  </ul>
  </div>
</header>