<footer class="h-377 md:h-113 py-16 md:py-100 font-sanst">
  <div class="w-8/12 mx-auto flex flex-col items-center justify-center md:flex-row md:justify-between">
    <ul class="w-[287px] lg:w-[495px] flex justify-between">
      <li class="md:text-xl lg:text-xl font-bold">
        <a class="block mb-6" href="#">最新消息</a>
        <a class="block mb-6" href="#">門診時間</a>
        <a class="block mb-6" href="#">診所資訊</a>
        <a class="block mb-6" href="#">診所評論</a>
      </li>
      <li class="text-xl">
        <a class="block font-bold mb-6" href="#">服務項目</a>
        <a class="block mb-6" href="#">一般牙科</a>
        <a class="block mb-6" href="#">美容牙科</a>
        <a class="block mb-6" href="#">兒童牙科</a>
        <a class="block mb-6" href="#">牙齒矯正</a>
      </li>
      <li class="text-xl font-bold">
        <a class="block mb-6" href="#">醫護團隊</a>
        <a class="block mb-6" href="#">診所預約</a>
      </li>
    </ul>
    <div class="h-64 flex flex-col items-center justify-center md:justify-between">
      <a class="block" href="../../pages/front/index.html">
        <img class="w-48 h-10 invisible md:visible" src="/public/images/logo.svg" alt="logo">
      </a>
      <div>
        <ul class="flex justify-between mb-5">
          <li>
            <a class="w-60 h-60 flex items-center justify-center font-bold rounded-full text-primary-400 bg-primary-100"
              href="#">
              <i class="fa-brands fa-line fa-2xl"></i>
            </a>
          </li>
          <li>
            <a class="w-60 h-60 flex items-center justify-center font-bold rounded-full text-primary-400 bg-primary-100"
              href="#">
              <i class="fa-brands fa-instagram fa-2xl"></i>
            </a>
          </li>
          <li>
            <a class="w-60 h-60 flex items-center justify-center font-bold rounded-full text-primary-400 bg-primary-100"
              href="#">
              <i class="fa-brands fa-facebook fa-2xl"></i>
            </a>
          </li>
        </ul>
        <P class="text-gray-500 font-medium">
          ©芽渼牙醫診所 DENTAL CLINIC.
        </P>
      </div>
    </div>
  </div>
</footer>