<header id="header" class="fixed w-screen h-20 font-sanst border shadow-xl bg-white z-10 top-0">
  <div class="  w-9/12 h-full mx-auto flex items-center justify-between">
    <a class="block" href="../../src/pages/front/index.html">
      <img class="w-48 h-10" src="/public/images/logo.svg" alt="logo">
    </a>
    <div class="w-3/5 flex items-center justify-end">
      <ul class="w-[799px]  flex-row items-center justify-between gap-2 font-sans text-xl font-semibold hidden xl:flex">
        <li class="relative group">
          <span class="block absolute w-[82px] h-3 group-hover:bg-accent-100 top-4 z-[-1]"></span>
          <a class="z-10" href="#">診所介紹</a>
        </li>
        <li class="relative group">
          <span class="block absolute w-[82px] h-3 group-hover:bg-accent-100 top-4 z-[-1]"></span>
          <a href="#">服務項目</a>
        </li>
        <li class="relative group">
          <span class="block absolute w-[82px] h-3 group-hover:bg-accent-100 top-4 z-[-1]"></span>
          <a href="#">醫護團隊</a>
        </li>
        <li class="relative group">
          <span class="block absolute w-[82px] h-3 group-hover:bg-accent-100 top-4 z-[-1]"></span>
          <a href="#">診所預約</a>
        </li>
        <li class="relative group">
          <span class="block absolute w-[82px] h-3 group-hover:bg-accent-100 top-4 z-[-1]"></span>
          <a href="#">登入/註冊</a>
        </li>
      </ul>
      <span class="material-symbols-outlined cursor-pointer xl:invisible" id="menu">
        menu
      </span>
    </div>
  </div>
</header>
<div
  class="w-0 fixed  font-sans text-xl font-semibold overflow-x-hidden flex flex-col    bg-primary-100 z-20 transition-all ease-in-out delay-150 top-0 right-0"
  id="links">
  <div class="w-10/12 h-20 mx-auto flex items-center justify-end mb-24">
    <span class="material-symbols-outlined cursor-pointer border-yellow-500" id="close">
      close
    </span>
  </div>
  <div class="w-[375px] h-[680px] mx-auto flex flex-col items-center border-yellow-500">
    <div class="relative group mb-14">
      <span class="block absolute w-[82px] h-3 group-hover:bg-white top-4 z-[-1] "></span>
      <a class="block" href="#">診所介紹</a>
    </div>
    <div class="relative group mb-14">
      <span class="block absolute w-[82px] h-3 group-hover:bg-white top-4 z-[-1]"></span>
      <a class="block" href="#">服務項目</a>
    </div>
    <div class="relative group mb-14">
      <span class="block absolute w-[82px] h-3 group-hover:bg-white top-4 z-[-1]"></span>
      <a class="block" href="#">醫護團隊</a>
    </div>
    <div class="relative group mb-14">
      <span class="block absolute w-[82px] h-3 group-hover:bg-white top-4 z-[-1]"></span>
      <a class="block" href="#">診所預約</a>
    </div>
    <div class="relative group">
      <span class="block absolute w-full h-3 group-hover:bg-white top-4 z-[-1]"></span>
      <a class="block" href="#">登入/註冊</a>
    </div>
  </div>
</div>